/***** Books *****/

div.books {
    margin-bottom: 16px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 20px;
    justify-items: center;
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px */
}

div.books img {
    /* height:300px; */
    width: 100%;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
    transition: all 0.1s;
}

div.books img:hover {
    transform: scale(1.05);
}

div.books video {
    /* height:300px; */
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px black, 0 0 0 1px black inset;
    transition: all 0.1s;
}

div.books video:hover {
    transform: scale(1.05);
}





/***** Popup window *****/

div.overlay {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 5;
    opacity: 0;
    transition: all 0.5s;
}

div.overlay.active {
    visibility: visible;
    opacity: 1;
}

div.overlay div {
    background: white;
    width: 350px;
    height: 200px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}