/***** Book *****/

.book-description {
    display: flex;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.3);
    padding: 3% 2% 3% 2%;
    border-radius: 20px;
    gap: 20px;
}

.book-description img {
    width: 40%;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

.book-description div {
    padding-left: 3%;
}

div.books {
    margin-bottom: 16px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 20px;
    justify-items: center;

    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px */
}

div.books img{
    /* height:300px; */
    width: 100%;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
    transition: all 0.1s;
 }

div.books img:hover{
   transform: scale(1.05);
}

div.books video{
    /* height:300px; */
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px black, 0 0 0 1px black inset;
    transition: all 0.1s;
 }

div.books video:hover{
   transform: scale(1.05);
}

div.shelf {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    gap: 20px;
    overflow-y: visible;
    height: 300px;
    box-shadow: 0 0 10px black inset;
    border: 1px solid black;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
}

div.shelf span {
    visibility: hidden;
    position: absolute;
    font-style: italic;
    top: -20px;
}

div.shelf:hover span {
    visibility: visible;
}

div.shelf::-webkit-scrollbar {
    display: none;
}

img.book-sample {
    height: 100%;
    width: 100px;
    object-fit: cover; 
    flex-shrink: 10;
    flex-grow: 4;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    box-sizing: border-box;
    transition: all 0.2s;
}

img.book-sample:hover {
    transform: scale(1.05);
}

img.book-sample:active {
    transform: scale(2) translate(0,0);
}

.table-of-contents {
    display: flex;
    justify-content: space-evenly;
    gap: 3%;
}

.table-of-contents ul {
    padding-left: 0;
    list-style: none;
    font-weight: bold;
    margin-bottom: 8%;
}

.table-of-contents li {
    margin: 3% 0 0 0;
}

.table-of-contents ul ul{
    font-size: 14px;
    font-weight: normal;
    padding-left: 40px;
}

@media (max-width: 600px) {

    .book-description {
        flex-direction: column;
        align-items: center;
        border-radius: 0;
        box-shadow: none;
    }

    .book-description img {
        width: 90%;
    }

    .book-description div {
        padding: 0 3%;
    }
    
    div.shelf {
        justify-content: start;
        border-radius: 0;
        overflow-x: scroll;
        flex-wrap: nowrap;
        height: 400px;
    }

    img.book-sample {
        height: 100%;
        width: 280px;
    }

    img.book-sample:hover {
        transform: none;
    }

    img.book-sample:active {
        transform: none;
    }

    .table-of-contents {
        flex-direction: column;
        padding-bottom: 16px;
    }

    .table-of-contents ul {
        margin-bottom: 0;
    }

  }